<img class="red-shadow" src="../../../assets/img/red-shadow.png" alt="" />
<section>
  <div>
    <span>I am</span>
    <div class="text">
      <h1>Tobias Rothe</h1>
      <h2>FRONTEND DEVELOPER</h2>
    </div>
  </div>
  <div><a href="#Contact"> Let`s talk!</a></div>

  <footer>
    <div class="orange-line"></div>
    <img src="../../../assets/img/git.png" alt="" /><img
      src="../../../assets/img/mail.png"
      alt=""
    /><img src="../../../assets/img/li.png" alt="" />
  </footer>
</section>
<img class="purple-shadow" src="../../../assets/img/orange shadow.png" alt="" />
