section {
  position: relative;
  scroll-margin-top: 150px;
  overflow-x: hidden;
  padding-top: 35px;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin-top: clamp(40px, 5vw, 80px);
      font-size: clamp(30px, 5vw, 90px);
    }

    span {
      font-size: clamp(12px, 2vw, 16px);
      text-align: center;
    }
  }

  .red-shadow {
    position: absolute;
    bottom: 83px;
    left: -152px;
    width: 500px;
    z-index: -5;
  }

  .purple-shadow {
    position: absolute;
    top: 0;
    right: -230px;
  }

  .projects {
    &.desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      .project {
        h3 {
          font-size: clamp(24px, 2.5vw, 50px);
          margin-bottom: 20px;
          color: #ff4747;
          text-align: center;
        }

        .skills {
          gap: 8px;
          font-size: clamp(14px, 1.5vw, 24px);
          color: #e86f00;
          margin-bottom: 20px;
          text-align: center;
        }

        .discripton {
          font-size: clamp(12px, 1.2vw, 16px);
          margin-bottom: 20px;
          text-align: center;
        }

        .a-tags {
          display: flex;
          justify-content: center;
          gap: 40px;

          a {
            padding: 10px 20px;
            border-radius: 10px;
            text-decoration: none;
            background-color: #ff4747;
            color: #fff;
            font-size: clamp(14px, 2vw, 20px);
            transition: transform 0.3s ease-in-out,
              background-color 0.3s ease-in-out;

            &:hover {
              transform: scale(1.1);
              background-color: #e86f00;
            }
          }
        }
      }
    }

    &.mobile {
      display: none;
      flex-direction: column;
      gap: 20px;
      width: 90%;
      margin: 0 auto;

      .project-item {
        position: relative;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }

        .overlay {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 12px;
          color: #fff;
          text-align: center;

          opacity: 0;
          transition: opacity 0.3s ease-in-out;

          &:hover {
            opacity: 1;
          }

          a {
            display: inline-flex;
            margin: 5px;
            padding: 10px 20px;
            background: #e86f00;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 14px;
            transition: background 0.3s ease-in-out;

            &:hover {
              background: #ff4747;
            }
          }

          .details {
            background: #fff;
            color: #000;
            margin-top: 20px;
            padding: 10px;
            border-radius: 10px;
            width: 90%;
            text-align: left;

            h3 {
              font-size: clamp(18px, 2vw, 24px);
            }

            p {
              font-size: clamp(12px, 1.5vw, 16px);
            }
          }
        }
      }
    }
  }
}
