<section id="portfolio">
  <img class="purple-shadow" src="./assets/img/orange shadow.png" alt="" />
  <div class="content">
    <header #animatedElement class="hidden">
      <h2>Portfolio</h2>
      <span>
        {{ languageService.getTranslation("Portfolio.intro") }}
      </span>
    </header>

    <div #animatedElement class="projects desktop hidden">
      <div class="project join">
        <img src="./assets/img/join.png" alt="Join" />
        <div>
          <h3>Join</h3>
          <div class="skills">
            <span>HTML</span>| <span>CSS</span>| <span>Firebase</span>
          </div>
          <div class="discripton">
            <span>
              {{
                languageService.getTranslation(
                  "Portfolio.projects.join.description"
                )
              }}
            </span>
          </div>
          <div class="a-tags">
            <a href="#" target="_blank">Live Test</a>
            <a href="#" target="_blank">GitHub</a>
          </div>
        </div>
      </div>

      <div #animatedElement class="project projects-right hidden">
        <img src="./assets/img/polloloco.png" alt="El Pollo Loco" />
        <div>
          <h3>El Pollo Loco</h3>
          <div class="skills">
            <span>HTML</span>| <span>CSS</span>| <span>JavaScript</span>
          </div>
          <div class="discripton">
            <span>
              {{
                languageService.getTranslation(
                  "Portfolio.projects.pollo.description"
                )
              }}
            </span>
          </div>
          <div class="a-tags">
            <a href="https://tobias-rothe.de/elpolloloco/" target="_blank"
              >Live Test</a
            >
            <a
              href="https://github.com/Tobias-Rothe/El-Pollo-Loco"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
      </div>

      <div #animatedElement class="project hidden">
        <img src="./assets/img/pokedex.png" alt="Pokedex" />
        <div>
          <h3>Pokedex</h3>
          <div class="skills">
            <span>HTML</span>| <span>CSS</span>| <span>JavaScript</span>
          </div>
          <div class="discripton">
            <span>
              {{
                languageService.getTranslation(
                  "Portfolio.projects.pokedex.description"
                )
              }}
            </span>
          </div>
          <div class="a-tags">
            <a href="https://tobias-rothe.de/pokedex/" target="_blank"
              >Live Test</a
            >
            <a href="https://github.com/Tobias-Rothe/Pokedex" target="_blank"
              >GitHub</a
            >
          </div>
        </div>
      </div>
    </div>

    <div #animatedElement class="projects mobile hidden">
      <div class="project-item" (click)="selectProject('join')">
        <img src="./assets/img/join.png" alt="Join" />
        <div class="overlay">
          <a href="#" target="_blank">GitHub</a>
          <a href="#" target="_blank">Live Test</a>
          <div class="details">
            <h3>Join</h3>
            <p>
              {{
                languageService.getTranslation(
                  "Portfolio.projects.join.description"
                )
              }}
            </p>
            <p><strong>Technologies:</strong> HTML, CSS, Firebase</p>
          </div>
        </div>
      </div>

      <div class="project-item" (click)="selectProject('polloloco')">
        <img src="./assets/img/polloloco.png" alt="El Pollo Loco" />
        <div class="overlay">
          <a
            href="https://github.com/Tobias-Rothe/El-Pollo-Loco"
            target="_blank"
            >GitHub</a
          >
          <a href="https://tobias-rothe.de/elpolloloco/" target="_blank"
            >Live Test</a
          >
          <div class="details">
            <h3>El Pollo Loco</h3>
            <p>
              {{
                languageService.getTranslation(
                  "Portfolio.projects.pollo.description"
                )
              }}
            </p>
            <p><strong>Technologies:</strong> HTML, CSS, JavaScript</p>
          </div>
        </div>
      </div>

      <div class="project-item" (click)="selectProject('pokedex')">
        <img src="./assets/img/pokedex.png" alt="Pokedex" />
        <div class="overlay">
          <a href="https://github.com/Tobias-Rothe/Pokedex" target="_blank"
            >GitHub</a
          >
          <a href="https://tobias-rothe.de/pokedex/" target="_blank"
            >Live Test</a
          >
          <div class="details">
            <h3>Pokedex</h3>
            <p>
              {{
                languageService.getTranslation(
                  "Portfolio.projects.pokedex.description"
                )
              }}
            </p>
            <p><strong>Technologies:</strong> HTML, CSS, JavaScript</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="red-shadow" src="./assets/img/red-shadow2.png" alt="" />
</section>
