<section>
  <div class="content">
    <header>
      <h2>Portfolio</h2>
      <span
        >Explore a selection of my work here - interact with projects to see my
        skills in action</span
      >
    </header>
    <div class="projects">
      <img src="../../../assets/img/join.png" alt="" />
      <div>
        <h3>Join</h3>
        <div class="skills">
          <span>HTML</span>| <span>CSS</span>| <span>Firebase</span>
        </div>
        <div class="discripton">
          <span
            >Task manager inspired by the Kanban System. Create and organize
            tasks using drag and drop functions, assign users and
            catergories</span
          >
        </div>
        <div class="a-tags">
          <a href="#">Live Test </a>
          <a href="#">Github</a>
        </div>
      </div>
    </div>
    <div class="projects-right">
      <img src="../../../assets/img/polloloco.png" alt="" />
      <div>
        <h3>El Pollo Loco</h3>
        <div class="skills">
          <span>HTML</span>| <span>CSS</span>| <span>Firebase</span>
        </div>
        <div class="discripton">
          <span
            >Task manager inspired by the Kanban System. Create and organize
            tasks using drag and drop functions, assign users and
            catergories</span
          >
        </div>
        <div class="a-tags">
          <a href="#">Live Test </a>
          <a href="#">Github</a>
        </div>
      </div>
    </div>
  </div>
</section>
