<section #animatedElement class="hidden" id="About">
  <div class="content">
    <div class="about-me-text">
      <h1 #animatedElement class="hidden">
        {{ languageService.getTranslation("About.heading") }}
      </h1>
      <span #animatedElement class="hidden">
        {{ languageService.getTranslation("About.into") }}
      </span>
      <div class="img-container">
        <img src="../../../assets/img/lamp.png" alt="" />
        <span #animatedElement class="hidden">
          {{ languageService.getTranslation("About.sections.passion") }}
        </span>
      </div>
      <div class="img-container">
        <img src="../../../assets/img/puzzle.png" alt="" />
        <span #animatedElement class="hidden">
          {{ languageService.getTranslation("About.sections.profession") }}
        </span>
      </div>
    </div>
    <div class="pic">
      <img
        class="bg-shadow"
        src="../../../assets/img/shadow-Group 2.png"
        alt=""
      />
      <img
        class="pp"
        src="../../../assets/img/IMG_3440-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
  <img class="bg-big" src="../../../assets/img/bg-big.png" alt="" />
</section>
