section {
  scroll-margin-top: 250px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.icon-section {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  width: 40%;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 50px;
      transition: transform 0.3s ease;
    }
    img:hover {
      transform: translateY(-10px) scale(1.1);
    }
    span {
      margin-top: 12px;
      text-align: center;
    }
  }
}

.text-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 90px;
  }
  p {
    margin: 30px;
    font-size: 16px;
  }
  a {
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #e86f00;
    color: #fff;
    font-size: 32px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  a:hover {
    transform: scale(1.1);
    background-color: #ff4747;
  }
}

@media (max-width: 1024px) {
  .flex {
    flex-direction: column-reverse;
    align-items: center;
  }

  .icon-section {
    width: 80%;
    gap: 50px;
  }

  .text-section h2 {
    font-size: 72px;
  }

  .text-section p {
    margin: 20px;
    font-size: 14px;
  }

  .text-section a {
    font-size: 28px;
    padding: 12px 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .icon-section {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    img {
      height: 50px;
      object-fit: cover;
    }
    span {
      font-size: 12px;
    }
  }

  .text-section h2 {
    font-size: 48px;
  }

  .text-section p {
    margin: 15px;
    font-size: 12px;
  }

  .text-section a {
    font-size: 24px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .flex {
    flex-direction: column-reverse;
    align-items: center;
  }

  .icon-section {
    width: 100%;
    gap: 20px;
  }

  .text-section h2 {
    font-size: 36px;
    text-align: center;
  }

  .text-section p {
    margin: 10px;
    font-size: 12px;
    text-align: center;
  }

  .text-section a {
    font-size: 20px;
    padding: 8px 16px;
  }
}

@media (max-width: 380px) {
  .text-section h2 {
    font-size: 28px;
    text-align: center;
  }

  .text-section p {
    margin: 8px;
    font-size: 12px;
    text-align: center;
  }

  .text-section a {
    font-size: 18px;
    padding: 6px 12px;
  }
}
