<section>
  <div class="content">
    <div>
      <div class="banner">
        <img src="../../../../assets/img/Banner-3.png" alt="Banner" />
      </div>
      <div>
        <h3>© Tobias Rothe 2024</h3>
      </div>
      <div class="social">
        <img src="../../../../assets/img/git.png" alt="GitHub" />
        <img src="../../../../assets/img/mail.png" alt="Mail" />
        <img src="../../../../assets/img/li.png" alt="LinkedIn" />
      </div>
    </div>
    <div class="impressum">
      <a href="#">Impressum</a>
    </div>
  </div>
</section>
