section {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #141d2f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ff4747;
  z-index: 19999;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;

    img {
      height: 40px;
    }

    nav {
      display: flex;
      gap: 20px;
      align-items: center;

      a {
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;

        &.active {
          color: #fa7902;
        }
      }
    }

    .burger-menu {
      display: none;
      flex-direction: column;
      cursor: pointer;

      span {
        height: 4px;
        width: 30px;
        background-color: #ffffff;
        border-radius: 2px;
        margin: 4px 0;
      }
    }
  }

  .mobile-nav {
    display: none;
    flex-direction: column;
    background-color: #141d2f;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    justify-content: start;
    align-items: center;
    button {
      width: 60px;
    }

    a {
      padding: 10px 20px;
      font-size: 16px;
      color: #ffffff;

      &.active {
        color: #fa7902;
      }
    }
  }

  .navbar {
    .language-toggle {
      margin-left: 20px;
      padding: 5px 10px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: inherit;
      font-size: 16px;
      font-weight: bold;
    }

    .active {
      font-weight: bold;
      color: #007bff;
    }
  }

  .language-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }

  .language-toggle input {
    display: none;
  }

  .language-toggle .slider {
    position: absolute;
    background-color: #141d2f;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    color: white;
    transition: background-color 0.4s;
    border: 1px solid #fa7902;
  }

  .language-toggle .slider::before {
    content: "";
    position: absolute;

    height: 22px;
    width: 22px;
    background-color: #ff4747;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: transform 0.4s;
  }

  .language-toggle input:checked + .slider::before {
    transform: translateX(30px);
  }

  .language-left,
  .language-right {
    position: relative;
    z-index: 1999;
    user-select: none;
  }

  @media screen and (max-width: 768px) {
    .content nav {
      display: none;
    }

    .burger-menu {
      display: flex !important;
    }

    .mobile-nav {
      display: flex !important;
    }
  }
}
