<section>
  <div class="content" id="top">
    <div>
      <a (click)="scrollToTop()" fragment="top">
        <img src="./assets/img/Banner-3.png" alt="Logo" />
      </a>
    </div>

    <nav>
      <a href="#About">{{ languageService.getTranslation("About.heading") }}</a>
      <a href="#skills">Skills</a>
      <a href="#portfolio">Portfolio</a>

      <label class="language-toggle">
        <input
          type="checkbox"
          [checked]="languageService.getLanguage() === 'de'"
          (change)="toggleLanguage()"
        />
        <span class="slider">
          <span class="language-left">EN</span>
          <span class="language-right">DE</span>
        </span>
      </label>
    </nav>

    <div class="burger-menu" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="mobile-nav" *ngIf="isMenuOpen">
    <a href="#About" (click)="setActive('About')">{{
      languageService.getTranslation("About.heading")
    }}</a>
    <a href="#skills" (click)="setActive('Skills')">Skills</a>
    <a href="#portfolio" (click)="setActive('Portfolio')">Portfolio</a>

    <label class="language-toggle">
      <input
        type="checkbox"
        [checked]="languageService.getLanguage() === 'de'"
        (change)="toggleLanguage()"
      />
      <span class="slider">
        <span class="language-left">EN</span>
        <span class="language-right">DE</span>
      </span>
    </label>
  </div>
</section>
