<section>
  <div class="content">
    <div>
      <img src="../../../../assets/img/Banner-3.png" alt="Logo" />
    </div>

    <nav>
      <a href="#About">About me</a>
      <a href="#skills">Skills</a>
      <a href="#portfolio">Portfolio</a>

      <label class="language-toggle">
        <input type="checkbox" (change)="toggleLanguage()" />
        <span class="slider">
          <span class="language-left">DE</span>
          <span class="language-right">EN</span>
        </span>
      </label>
    </nav>

    <div class="burger-menu" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="mobile-nav" *ngIf="isMenuOpen">
    <a href="#About" (click)="setActive('About')">About me</a>
    <a href="#skills" (click)="setActive('Skills')">Skills</a>
    <a href="#portfolio" (click)="setActive('Portfolio')">Portfolio</a>
    <label class="language-toggle">
      <input type="checkbox" (change)="toggleLanguage()" />
      <span class="slider">
        <span class="language-left">DE</span>
        <span class="language-right">EN</span>
      </span>
    </label>
  </div>
</section>
